.content {
  padding: 10px;
}

.title {
  display: inline-block;
}

.attachedButton {
  font-size: 1rem;
  border: none;
  background: none;
}

.modalDelBtn {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}