@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500&display=swap');

header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 285px;
    height: 51px;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.userBtns {
    display: flex;
}

.userBtns button{
    background: none;
    border:none;
}

/* ✅ 헤더 끝 */

.mainCarousel {
    padding: 15px 0;
    background-color: #f7f7f2;
}

/* ✅ 캐러우절 끝 */

.mainNavi {
    padding-top: 30px;
    background-color: #f7f7f2;
}

.mainNavi ul{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.mainNavi ul li {
    width: 100%;
}
.mainNavi ul li a{
    padding: 30px 0; 
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    border-right: 1px solid #ddd;
}

.mainNavi ul li{
    border-right: 1px slid #ddd;
}
.size159 {
    font-size: 158px;
}

/* ✅ 네비버튼 끝 */


.main-giver {
    padding-top: 30px;
}

.giver-left-wrapper {
    width: 70%;
}
.giver-left-up {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #f8f8f8;
    padding: 10px;
}

.together-list {
    text-overflow: ellipsis;
}
.together-list ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.together-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.together-title span {
    color: #46caeb;
}

/* ✅ 오늘의 일정 끝 */